@import url("https://fonts.googleapis.com/css?family=Orbitron");

body {
  background: #054364;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  font-family: monospace;
}
.App {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}
button {
  width: 100%;
  background-color: #118acb; /* Green */
  border: #054364 1px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
button:hover {
  transition: 0.4s;
  box-shadow: none;
  color: midnightblue;
  /* border: whitesmoke 1px solid; */
}

.calc {
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  width: auto;
  border-radius: 10px;
  padding: 3px;
  background: #c2c2d6;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.display {
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  /* background: #dbd6d6; */
  background: #1e1e1e;
  color: #c2c2d6;
  font-family: "Orbitron", sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.display .output {
  min-height: 30px;
  padding: 5px 10px;
  max-width: 100%;

}
.display .input {

  min-height: 20px;
  padding: 5px 10px;
  max-width: 100%;

}

.pad {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 60px 60px 60px 60px 60px;
  grid-template-areas:
    "a a a a"
    "b b b c"
    "b b b c"
    "b b b c"
    "b b b c";
  grid-gap: 3px;
}

.equal-clear {
  grid-area: a;
  display: flex;
  flex-direction: row;
}
.equal-clear > button {
  margin: 2px;
  border-radius: 5px;
}

.numpad {
  grid-area: b;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 60px 60px 60px 60px;
  grid-gap: 3px 2px;
}

.logic {
  grid-area: c;
  display: grid;

  grid-template-rows: 60px 60px 60px 60px;
  grid-template-columns: 80px;
  grid-gap: inherit;
}

#zero {
  grid-column: 1/3;
  border-bottom-left-radius: 10px;
}
#divide {
  border-bottom-right-radius: 10px;
}
#clear {
  background: #AC3939
}
#equals {
  background: #4D4D4D
}

footer {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 7;
  color: #A9A9BB
}
footer a {
  color: #A9A9BB;
  font-family: monospace;
  text-decoration: none;
  text-align: center;
}
footer a::after {
  content: "";
  display: block;
  width: 0;
  margin: auto;
  height: 2px;
  background: #A9A9BB;
  transition: width 0.3s;
}
footer a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
